.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d3d3d3;
  padding: 15px 0;
  border-radius: 15px;
  width: 190px;
}

.card h1 {
  margin-bottom: 0;
  font-size: 18px;
  color: #1600ff;
}

.card img {
  margin-top: 0;
  margin-bottom: 0;
}

.card-details {
  margin-top: -20px;
}
